<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<!--<body>
    <h2>ToDo-List</h2>

    <div class="task-container">
    <div class="task-box" id="taskBox">
      <h3>Task:</h3>
      <div id="taskList"></div>
    </div>

    <input type="text" id="taskInput" class="task-input" placeholder="Neuen Task eingeben...">

    <div class="button-group">
      <button class="add-btn" onclick="addTask()">Hinzufügen</button>
      <button class="delete-btn" onclick="deleteTasks()">Löschen</button>
    </div>
  </div>

</body> -->

<body>
<div class="task-container">
    <h2>ToDo-List</h2>

    <h3>Current Task</h3>
    <th:block th:each="task : ${tasks}">
        <!--Anzeige der Task, die durch Spin ausgewählt wurde-->
        <div th:if="${task.chosen and !task.done}">
            <form th:action="@{/taskDone}" method="post">
                <input type="hidden" name="id" th:value="${task.id}">                <!--Verstecktes Feld mit Task id-->
                <button type="submit">Erledigt</button>                               <!--Task wird auf erledigt gesetzt-->
                <p th:text="${task.name}"></p>
            </form>

        </div>
    </th:block>

    <h3>To Do</h3>
    <form th:action="@{/add}" method="post">                                 <!--Formular zum Hinzufügen einer Task-->
        <input type="text" name="text" placeholder="Neue Task..." required>    <!--Eingabefeld-->
        <button type="submit">Hinzufügen</button>
    </form>
    <!--Ordner zum Anzeigen der eingegebenen Tasks ohne die, die schon erledigt sind-->
    <div th:each="task : ${tasks}" class="task">
        <div th:if="${!task.done}">
            <!--th:each iteriert später über alle Tasks die vom Controller ins Model gelegt werden-->
            <form th:action="@{/edit}" method="post">
                <!--Formular zum Bearbeiten der Tasks-->
                <input type="hidden" name="id" th:value="${task.id}">                <!--Verstecktes Feld mit Task id-->
                <input type="text" name="text" th:value="${task.name}">
                <!--Eingabefeld mit aktuellem Task Namen-->
                <button type="submit">Bearbeiten</button>
            </form>
            <form th:action="@{/delete}" method="post">
                <input type="hidden" name="id" th:value="${task.id}">
                <button type="submit">Löschen</button>
            </form>
        </div>
    </div>
    <div class="spin-container">
        <!--<form th:action="@{/spin}" method="post"> -->
        <form action="/spin" method="post">
            <button type="submit">Spin</button>
        </form>
    </div>

    <h3>Finished Tasks</h3>
    <th:block th:each="task : ${tasks}">
        <!--Anzeige der Tasks, die erledigt wurden-->
        <div th:if="${task.done}">
            <p th:text="${task.name}"></p>
        </div>
    </th:block>
</div>
</body>
</html>